<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<h2 th:text="${title}"></h2>

<ul>
    <li th:text="${newUser.username}"></li>
    <li th:text="${newUser.id}"></li>
    <li th:text="${newUser.name}"></li>
    <li th:text="${newUser.lastname}"></li>
    <li th:text="${newUser.password}"></li>
    <li th:text="${newUser.email}"></li>
    <li th:text="${newUser.count}"></li>
    <!-- Al pasar el birthDate de la vista al controller, se convierte de String a Date, pero al pasar del controller
    a la vista, se pasa de Date a String y así lo mostrará tyhmeleaf. Se debe formatear de nuevo de Date a String
     con un helper de thymeleaf llamandolo con #-->
    <li th:text="${#dates.format(newUser.birthDate, 'dd/MMMM/yyyy')}"></li>
    <!--<li th:text="${newUser.country}"></li>-->
    <li th:text="${newUser.country.id}"></li>
</ul>

</body>
</html>