<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<h2 th:text="${title}"></h2>

<ul>
    <li th:text="Username: ${newUser.username}"></li>
    <li th:text="ID: ${newUser.id}"></li>
    <li th:text="Name: ${newUser.name}"></li>
    <li th:text="Lastname ${newUser.lastname}"></li>
    <li th:text="Password: ${newUser.password}"></li>
    <li th:text="Email: ${newUser.email}"></li>
</ul>

</body>
</html>