<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>

<h2 th:text="${title}"></h2>

<span th:text="${errors}"></span>
<!-- Target: Ruta URL a la que se enviará el formulario especificada con la etiqueta action
     th para que funcione con Spring y @{} para rutas de la aplicacion

     Al tener la misma url el post y el get, se debe indicar a cual irá en el fomrulario
     input para indicar un campo del fomulario-->

<!-- th:object me ahorra el name y th:value, y los reemplaza por th:field y el asterisco relaciona el atributo al objeto especificado aquí -->
<form th:action="@{/app/form}" method="post" th:object="${user}">

    <div>
        <label for="id">ID: </label>
        <div>
            <input type="text" id="id" th:field="*{id}"> <!--name="lastname" -->
        </div>
        <!--<div th:if="${error != null && error.containsKey('id')}" th:text="${error.get('id')}"></div> -->
        <div th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></div>
    </div>

    </br>

    <div>
        <!-- el for debe ser el mismo del id y sirve para agregar funcionalidad que al hacer un clic se posicione
        en el campo y el id solo está para asociar la funcionalidad-->
        <label for="username">Username: </label>
        <div>
            <input type="text" id="username"  th:field="*{username}" > <!--name="username" th:value="${user.username}" reemplazados por th:object y th:field-->
        </div>
        <!-- Aquí se valida que exista la variable errors (el primer formulario no tiene esa variable) y que hayan errores para ese key
        <div th:if="${error != null && error.containsKey('username')}" th:text="${error.get('username')}"></div> -->

        <!-- Si se usa el manejo de errores a traves de Thymeleaf, se usa así: -->
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>

    </div>

    </br>

    <div>
        <label for="name">Name: </label>
        <div>
            <input type="text" id="name" th:field="*{name}"> <!--name="name" -->
        </div>
        <!--<div th:if="${error != null && error.containsKey('name')}" th:text="${error.get('name')}"></div> -->
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>

    </br>

    <div>
        <label for="lastname">Lastname: </label>
        <div>
            <input type="text" id="lastname" th:field="*{lastname}"> <!--name="lastname" -->
        </div>
        <!--<div th:if="${error != null && error.containsKey('lastname')}" th:text="${error.get('lastname')}"></div> -->
        <div th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}"></div>
    </div>

    </br>

    <div>
        <label for="password">Password: </label>
        <div>
            <input type="password" id="password" th:field="*{password}"> <!--name="password" -->
        </div>
        <!--<div th:if="${error != null && error.containsKey('password')}" th:text="${error.get('password')}"></div> -->
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    </br>

    <div>
        <label for="email">Email: </label>
        <div>
            <!-- Se deja de tipo text para poder realizar la validación del lado de Spring -->
            <input type="text" id="email" th:field="*{email}"> <!-- name="email"  th:value="${user.email}" -->
        </div>
        <!-- <div th:if="${error != null && error.containsKey('email')}" th:text="${error.get('email')}"></div>-->
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>

    </br>

    <div>
        <label for="count">Count: </label>
        <div>
            <!-- El tipo number no permite entradas de String en el formulario y coloca flechas de incr/decr en el campo -->
            <input type="number" id="count" th:field="*{count}"> <!-- name="count"  th:value="${user.count}" -->
        </div>
        <!-- <div th:if="${error != null && error.containsKey('count')}" th:text="${error.get('count')}"></div>-->
        <div th:if="${#fields.hasErrors('count')}" th:errors="*{count}"></div>
    </div>

    </br>

    <div>
        <label for="birthDate">Birth date: </label>
        <div>
            <!-- placeholder no permite formatos distintos al seteado
                 type date me muestra el tabla para elegir la fecha segun la zona horaria o localizacion, no se puede personalizar y hay que tener cuidado que entre en conflicto con otras validaciones de fecha en el back-->
            <input type="date" id="birthDate" th:field="*{birthDate}" placeholder="dd/MM/yyyy"> <!-- name="birthDate"  th:value="${user.birthDate}" -->
        </div>
        <!-- <div th:if="${error != null && error.containsKey('birthDate')}" th:text="${error.get('birthDate')}"></div>-->
        <div th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"></div>
    </div>

    </br>

    <div>
<!--        <label for="country">Country: </label>-->
        <label for="country.id">Country: </label>
        <div>
            <!--select para lista desplegable
            value para pasar lo que esté dentro al controller. Si pasa el primer option vacio, se valida en el back-->
            <!--<select id="country" th:field="*{country}">
            El select de country funciona para los List y Map, pero para el atributo país sucede que trata de poblar
            con un value tipo String a un atributo tipo Pais, se mapea el field a Country.id-->
            <select id="country.id" th:field="*{country.id}">
                <option value="">--- Seleccionar país ---</option>
                <!-- Para llamar los paises desde la list o desde el map
                <option th:each="country: ${countriesList}" th:text="${country}" th:value="${country}"></option>-->
                <!-- entrySet convierte el map en un set iterable donde se puede extraer el key o el value
                <option th:each="country: ${countriesMap.entrySet()}" th:text="${country.value}" th:value="${country.key}"></option>-->
                <option th:each="country: ${ListOfClassCountry}" th:text="${country.name}" th:value="${country.id} "></option>
            </select> <!-- name="country"  th:value="${user.country}" -->
        </div>
        <!-- <div th:if="${error != null && error.containsKey('country')}" th:text="${error.get('country')}"></div>-->
        <div th:if="${#fields.hasErrors('country.id')}" th:errors="*{country.id}"></div>
    </div>

    </br>

    <div>
        <div>
            <!--  -->
            <input type="submit" value="Send form">
        </div>
    </div>

</form>

</body>
</html>